.about{
  display: flow-root;
   @include breakpoint(xs){display: inline-block; }
   @include breakpoint(md){
      display: flex;
      justify-content: space-between;
   }

  .left {
 
     background:#001641;
    font-size: 72px;
    line-height: 85px;
    color: #fff;
     @include breakpoint(lg){ background:#001641 url("../images/about_bolt.png") no-repeat; width: 50%;     background-position: top;}
    @include breakpoint(md){  width: 50%;    display: flex; vertical-align: middle;justify-content: center;align-items: center; }
    @include breakpoint(sm){ background:#001641 url("../images/about_bolt.png") no-repeat center; width: 100%;font-size: 60px;line-height: 70px; }
     @include breakpoint(xs){  width: 100%;font-size: 35px;line-height: 50px; }
    width: 100%;
    font-family:'Acto-Book';
    position: relative;

    .localbroker{
      max-width: 250px;
      margin-top: 20px;
    }
    .lcontent {
        @include breakpoint(lg){  padding: 150px 80px; }
         @include breakpoint(mlg){  padding: 120px 100px; }
         @include breakpoint(md){  padding: 50px 50px; }
        @include breakpoint(sm){  padding: 50px 50px; text-align: left;}
         @include breakpoint(xs){  padding: 35px 35px; text-align: left;}
        strong {
          font-family:'Acto-BoldItalic';
        }
    }

  }

  .right{
    background:#C7C9C8;    float: left;
    @include breakpoint(mlg){  width: 50%;padding: 72px 72px; }
    @include breakpoint(lg){  width: 50%;padding: 50px; }
     @include breakpoint(md){  width: 50%;  }
     width: 100%;
    @include breakpoint(sm){ padding: 35px 35px;  }
     @include breakpoint(xs){ padding: 25px 25px;  }
       .rcontent {
        &:last-child { margin-bottom: 0; }
            @include breakpoint(md){  margin-bottom: 30px; }
            @include breakpoint(sm){  margin-bottom: 20px; }
       }



    .about_title {
      color: #592B8C;
      font-size: 30px;
      line-height: 38px;
      font-family:'Acto-SemiBoldItalic';
       @include breakpoint(md){  margin-bottom: 15px; }
        @include breakpoint(sm){  margin-bottom: 10px; }
      @include breakpoint(xs){  font-size: 24px;line-height: 35px; }
    }
    p{
      font-size: 18px;
      line-height: 25px;
       @include breakpoint(xs){  font-size: 15px;line-height: 22px; }
    }
  }
}

#about-panel .panel-content {
  padding-top: 0;    padding-bottom: 0;
}