
.center {
    text-align:center;
}



li {
    margin-bottom: 10px;
}
.panel-light {
	h1 { 
      
	    //text-shadow: 1px 2px 15px black;
	    a{
	    	color:$blue;
	    }
	}
}

	h1 {
	
	    //text-shadow: 1px 2px 15px black;
	      @include breakpoint(xs){
	     	font-size:20px;
	     }
	     @include breakpoint(sm){
	     	font-size:25px;
	     }
	     @include breakpoint(md){
	     	font-size:33px;
	     }
	}

.home-panel {
	position: relative;
}
.panel-content {
    position: relative;
    // min-height: 300px;
    
      @include breakpoint(md){
        padding: 50px 0; 
      }
        @include breakpoint(sm){
        padding: 45px 0; 
      }
     @include breakpoint(xs){
     	padding: 15px 0 0; 
        min-height: 150px;
     }
}
.ad-banners { padding: 30px 0;}
.ad-banners .arrow {
    padding-top:5px;
}
.ad-banners .col-md-4 {
	@include breakpoint(sm){
     	width:33%;
     	float:left;
        padding: 5px;
     }
     @include breakpoint(xs){
     	width:33%;
     	float:left;
        padding:0;
     }
     @include breakpoint(mini){
     	width: 100%;
        float: left;
        text-align: center;
        padding: 0;
    }
}
.ad-banners img {
    position:relative;
   
}


.panel-light .fa-chevron-down {
    color: #000;
    background: #fff;
}

#content {
      background: #eee;
          vertical-align: middle;
          display: flex;
          align-items: center;
          justify-content: center;
   @include breakpoint(md){ 
          min-height: 500px;
         
   }  

     @include breakpoint(sm){ 
          min-height: 500px;
    }  
    @include breakpoint(xs){ 
          min-height: 300px;
    } 
}

#content .container , #content-wrap .container{
    
    text-align: center;

   .thanks-title {
      font-family: roboto, sans-serif;
      font-weight: 700;
      font-style: normal;
      @include breakpoint(md){ font-size: 38px; line-height: 38px; }
       @include breakpoint(sm){ font-size: 35px; line-height: 35px; padding: 25px 0;}
        @include breakpoint(xs){ font-size: 35px; line-height: 35px;padding: 15px 0; }
   }

   .thanks-message {
      color: #797D82;

      @include breakpoint(md){ font-size: 18px; line-height: 35px;  }
       @include breakpoint(sm){ font-size: 16px; line-height: 23px; }
       @include breakpoint(xs){ font-size: 15px; line-height: 23px; }
   }
}
.news-archive img {
	float: left;
    margin: 0 15px 15px 0;
    // max-width: 155px;
    height: auto;
}
.pagination1 a:first-child {
	font-weight:bold;
	float:left;
}
.pagination1 a {
	font-weight:bold;
	float:right;
}
.post-content p {
    margin:0 0 15px;
    letter-spacing: 0px;
    color: #46595B;
    font-size: 14px;
    line-height: 23px;
    //font-weight: 300;
  font-family: 'Gotham-Book-Regular';
}
.post-content strong {
    //font-family: 'Jockey One', sans-serif;
    color: #2B9DA4;
    font-size: 14px;
    text-shadow: none;
    //font-weight: 500;
    letter-spacing: 0px;
}
#main-content h1, #hero h1, #content-wrap h1 {
   
   
    text-transform: none;
    margin: 12px 15px 15px 0;
   // line-height:48px;
  // text-transform:uppercase;
}

.page-title {
    border-bottom:2px solid #eee;
    margin-left:15px !important;
}
.navigation.row {
    padding-bottom: 15px;
}
.news-archive 
{
    .front-more-news { padding-top:15px;}
    .front-more-news li:nth-child(n) {
        @include breakpoint(md)
        { 
            margin-bottom: 1%;
            margin-right: 1%;
        }
    }
    .front-more-news li {
        @include breakpoint(md){ 
         width: 24%;
     }
    }

}
.wp-pagenavi span.current {
    color: #e4002a !important;
}
.col-1 {
       padding-top: 23px;
        display: inline-block;
        width: 100%;
        padding-bottom: 15px;

    @include breakpoint(xs){ 
        display:inline-block;
        padding-bottom:25px;
        width: 100%;
    }
}
.banner-bg {
     
    background-repeat: no-repeat;
    height: 760px;
    width: 100%;
}
.breadcrumb-list {
    a {
        color: #0f235d;
        font-size: 12px;
        font-weight: 500;
    }
    .breadcrumb-current {
        font-weight:bold;
        font-size: 12px;
    }
    margin: 25px 0px 15px 0;
    text-align: right;
    @include breakpoint(md) {

        display: block;
    }
     @include breakpoint(xs-sm) {

        display: none;
    }
}
.page-template-about .news-box h4 {
        font-family: 'serpntbi';
        color:$light_blue; 
        font-size: 20px;
        padding: 15px 0 7px 0;
        font-weight: 100;
        text-transform: uppercase;
        &:hover {
            color:$theme_color;
        }
}
 
.pagination {
    display: inline-block;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 10px;
    background: url('../images/page-divider.jpg') no-repeat;
   .wp-pagenavi {
        padding: 8px 0;
   }
    .wp-pagenavi a, .wp-pagenavi span {
        border-right: 1px solid #BFBFBF !important;
        border: none;
        color: #000;
        font-weight: 600;
        font-size: 12px;
            padding: 0 6px;
        &:hover {
            color:$light_blue;
        }
    }
}

#banner-panel .ad-banners {padding:0px;}

@media only screen and (max-width: 992px) and (min-width: 200px)   {
 
    .headering-top { overflow: inherit;}
}
  .more-link a {
    color: $light_blue;
    font-weight: bold;
    text-transform:uppercase;
}
.more-link {
    padding:4px 0 10px;
}
  .rel-article-content {
        color: #000;
        font-size: 13px;
        line-height: 19px;
        font-family: 'Open Sans',sans-serif;
  }
  .social-media {
    h1 {
        color: #fff;
        text-align: center;
        
    }
    .big-title {
        color: #e4002a;
        text-align: center;
       
        font-size: 40px;
        padding-top: 5px;
     
    }
    .sfeed {
            padding-top: 32px;
        display: inline-block;
    }
    .juicer-feed .j-paginate {
        display:none;
    }
  }
//Gravity form
 .gform_description {
        font-size: 36px;
        line-height: 43px;
        text-align: center;
    }
.gform_fields {
    font-family:'overpass-light';
   
    textarea {
        border:none;
    }
    input[type="text"] {
        border:none;
        border-bottom:1px solid #222222;
        background:transparent;
        color: #000000;
        font-size: 20px !important;
        line-height: 24px;
        &:focus {
            color:#000000;
            outline: none;
            font-weight: bold;
            border-bottom:2px solid #222222;
        }
        &:placeholder {
            color:#000000 !important;
        }
    }
}

ul.gfield_checkbox {
    list-style: none;
    padding: 20px;
    width: 70% !important;
    margin: auto !important;
    text-align: center;
}
ul.gfield_checkbox li{
    display: inline;
}
ul.gfield_checkbox label {
    display: inline-block;
    background-color:#fff;
    color: #222222;
    border-radius: 8px;
    white-space: nowrap;
    margin: 3px 0px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    max-width: 100% !important;
}

ul.gfield_checkbox  label {
    padding: 8px 12px !important;
    cursor: pointer;
    font-size: 15px !important;
    line-height: 18px !important;
}

ul.gfield_checkbox li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.gfield_checkbox li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.gfield_checkbox li input[type="checkbox"]:checked + label {
   
    background-color: #AD0A40;
    color: #fff;
    transition: all .2s;
}

ul.gfield_checkbox li input[type="checkbox"] {
  display: absolute;
}
ul.gfield_checkbox li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.gfield_checkbox li input[type="checkbox"]:focus + label {
  /*border: 2px solid #e9a1ff;*/
}



 
.bgimg-1 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#066dab+0,8abbd7+69,c5deea+100 */
background: #031642; /* Old browsers */
background: linear-gradient(135deg, #031642 0%,#031642 56%,#58278e 100%);
background: -webkit-linear-gradient(-45deg, #031642 0%,#031642 56%,#58278e 100%);
height: 100vh;

    @include breakpoint(xs){ 
        background: linear-gradient(182deg, #031642 0%, #031642 56%, #58278e 100%);
        background: -webkit-linear-gradient(-90deg, #031642 0%, #031642 56%, #58278e 100%);
    }
}

.bolt {
    background:url('../images/bolt_1.png') no-repeat;
    background-repeat:no-repeat;
   
    @include breakpoint(xlg) { background-size: 100%; }
    @include breakpoint(lg) { background-size: 100%;}
    @include breakpoint(md) {  background:url('../images/bolt_1.png') no-repeat;background-size: 100% ; height: 100%;   /*width: 100%;*/ }
    @include breakpoint(sm) {  background:url('../images/bolt1.png') no-repeat;background-size: 86%; height: 50%;    vertical-align: middle;
    display: flex;}
    @include breakpoint(xs) { background:url('../images/bolt1.png') no-repeat;background-size: 50%; background-size: 100%;background-position: top center;height: 50%; }
     @include breakpoint(xxs) { height: 45%; }

     img {
         @include breakpoint(md) {display: none;}
        @include breakpoint(sm) {display: block;margin:auto;}
        @include breakpoint(xs) {display: block; max-width: 75%; margin:auto;padding: 65px 0 0;}
     }
}

.content {
 /*   
    top: 50%;
    left: calc(100% - 600px);
     @include breakpoint(xlg) {left: calc(100% - 30%);}
    transform: translate(-50%, -50%);*/
   
   
    
    margin: auto;
    color:#fff;
     @include breakpoint(xlg){
        max-width: 500px; top: 40%;
     }
       @include breakpoint(lg){
        max-width: 500px; 
     }
      @include breakpoint(md){
        position: absolute; max-width: 90%; 
     }
      @include breakpoint(sm){
        max-width: 90%; 
     }
      @include breakpoint(xs){
        max-width: 90%; 
     }
      @include breakpoint(xxs){
        max-width: 100%; 
     }
    a { color: #fff;
        margin-top: 20px;
        font-family: roboto, sans-serif;
        font-weight: 400;font-style: normal;
        
         @include breakpoint(lg) {font-size:20px; line-height: 28px;}
          @include breakpoint(md) {font-size:17px; line-height: 24px; }
         @include breakpoint(sm) {font-size:17px; line-height: 24px;}
          @include breakpoint(xs) {font-size:14px; line-height: 19px;}
     }
    span {
        font-family:'Acto-SemiBoldItalic';
        color:#fff;
        @include breakpoint(lg) {
            font-size: 30px;
            line-height: 38px;
        }
         @include breakpoint(md) {
            font-size: 25px;
            line-height: 31px;
        }
         @include breakpoint(sm) {
            font-size: 25px;
            line-height: 31px;
        }
        @include breakpoint(xs) {
            font-size: 20px;
            line-height: 25px;
        }
    }
    p {
        font-family: roboto, sans-serif;
         @include breakpoint(lg) {font-size:20px; line-height: 28px;}
         @include breakpoint(md) {font-size:17px; line-height: 24px;}
         @include breakpoint(sm) {font-size:17px; line-height: 24px;}
         @include breakpoint(xs) {font-size:14px; line-height: 19px;margin-top: 15px;}
         @include breakpoint(xxs) {font-size:14px; line-height: 19px;margin-top: 5px;}
        margin-top: 25px;
        font-weight: 400;
        color: #C7C9C8;
        font-style: normal;
    }
}
.into {
    @include breakpoint(md) { 
      position:relative; 
      height: 100vh; 
        vertical-align: middle;
      align-items: center;
      justify-content: center;
      display: flex;
    }
}
.contact {
        font-family: roboto, sans-serif;font-weight: 400;font-style: normal;
        
  
    img {
         @include breakpoint(xs) {
            max-width: 15px;
         }
    }
    
    
}
.fsPreviousButton, .fsSubmitButton, .fsNextButton {
  background:#089ED4 !important;
  font-family:'Acto-Bold' !important;
  @include breakpoint(md) {font-size: 20px !important; line-height: 24px !important; width: 300px;}
  @include breakpoint(sm) {font-size: 20px; line-height: 24px;}
  @include breakpoint(xs) {font-size: 20px; line-height: 24px;}
}
.blue-btn  {
  background:#089ED4 !important;
  border:none;
  font-size: 20px;
  line-height: 24px;
  border-radius:5px;
  padding:13px 15px;
  font-family:'Acto-Bold';
  color: #fff;

  &:focus {
    outline: none;
  }
@include breakpoint(md) {
       font-size: 20px;
      line-height: 24px;
      border-radius:5px;
      padding:13px 15px;
  }

  @include breakpoint(sm) {
        font-size: 16px;
        line-height: 20px;
        border-radius:5px;
        padding:8px 15px;
  }
   @include breakpoint(xs) {
        font-size: 16px;
        line-height: 20px;
        border-radius:5px;
        padding:8px 15px;
  }

}

//Contact panel
#contact-panel {
   .thanks-title, .thanks-message { display: none; }
}
#contact-panel .panel-content { padding: 0; }
.contact-form { 
 // background:#592B8C;
 padding: 50px 0;
   @include breakpoint(sm) { padding: 50px 0; }
  .text {
    color: #fff;
     @include breakpoint(md) {padding:82px 1px 22px 50px}

    .contact-title {
        font-family: roboto, sans-serif;
        font-weight: 700;
        font-style: normal;
          @include breakpoint(md) {
            font-size: 20px;
            line-height: 25px;
        }
         @include breakpoint(sm) {
            font-size: 20px;
            line-height: 25px;
        }
         @include breakpoint(xs) {
            font-size: 18px;
            line-height: 25px;
        }
    }
    .contact-address,  .contact-address a {
      margin-top: 25px;
         @include breakpoint(md) {
            font-size: 18px;
            line-height: 25px;
        }
    }
    .email img {
        max-height: 20px; width: 24px;
    }
    .phone img {
      max-height: 30px; width: 24px;
    }
    .email, .phone {
          padding:10px 0;color: #fff;

         
    }
     .email a, .phone a {
        color: #fff;
     }
  }
    .form {
         @include breakpoint(md) { border-right:2px solid #001641; }
            @include breakpoint(sm) {
              border: none;
            }
    }
}

.form-title {
    color: #fff;
    font-family:'Acto-SemiBoldItalic';
       @include breakpoint(md) {
          font-size: 38px;
          line-height: 38px;         
    }
       @include breakpoint(sm) {
          font-size: 34px;
          line-height: 34px;         
    }

     @include breakpoint(xs) {
          font-size: 30px;
          line-height: 30px;         
    }
}
.fsRequiredMarker, .fsBody .fsSupporting { color: #fff !important; }
.fsBody .fsLabel, .fsBody label {
  color: #fff !important;
  font-family: roboto, sans-serif;
      @include breakpoint(md) {
          font-size: 18px !important;
          line-height: 25px !important;
           
    }
}
.fsSectionHeader { display: none; }

.contact-map {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
     @include breakpoint(lg) {padding-top: 100%; }
     @include breakpoint(md) {padding-top: 80%;  margin-top: 25px; }
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
        filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}
 
.fsForm select:not([multiple="multiple"]) {
  background: #fff url('../images/select.png') no-repeat !important;
  background-position:right !important;
  height: 49px;    border-radius: 5px;
  border: none !important;
}

.fsRowBody input[type="text"], .fsRowBody input[type="email"], .fsRowBody input[type="number"], .fsRowBody input[type="tel"], .fsForm select {
    @include breakpoint(sm) {   height: 49px !important; }
     @include breakpoint(xs) {   height: 35px !important; }
    border-radius: 6px !important;
}
.fsRowBody input[type="text"], .fsRowBody input[type="email"], .fsRowBody input[type="number"], .fsRowBody input[type="tel"], .fsForm select, .fsForm textarea {
  font-size:16px !important; line-height: 20px !important;
}
label.fsOptionLabel { background-color: transparent !important; border:none !important; }
.fsForm .fsCell {
    padding: 0!important;
}
.fsSubmitButton { float: left !important; }

.fsBody p a { color: #fff; text-decoration: underline; }
.fsBody { padding: 0 !important; }

.fsRowBody input[type="checkbox"]:checked:before {
      border-color: #2b9ed3 !important;
    background-color: #2b9ed3 !important;
}

.fsRowBody input[type="radio"]:before, .fsRowBody input[type="radio"]:checked:before, .fsRowBody input[type="checkbox"]:before, .fsRowBody input[type="checkbox"]:checked:before{
      width: 100px !important;
    height: 100px !important;
}

#forum-panel .panel-content{
  @include breakpoint(xs) { padding-bottom: 20px;  }

}
.mobmenu-left-panel .mob-cancel-button {
      color: #592B8C !important;
}
.mobmenu-left-panel .mobmenu-left-bt, .mobmenu-right-panel .mobmenu-right-bt{
      right: 12px !important;
    top: 16px !important;
}

.fsBody .fsForm {
  @include breakpoint(md) { padding: 10px 35px 10px 10px !important;  }
}
.fsBody .fsFieldRow {
  padding-bottom: 10px !important;
}

div#fsSection79296332 {
    display: none;
}

.content-body {
  background-color:#eee;
}

