.footer {

	
    color: #797D82;
     @include breakpoint(xs){ 
           padding:25px 25px;
       }
        @include breakpoint(md){ 
           padding:35px 50px;
       }
       @include breakpoint(sm){ 
           padding:35px 35px;
       }
     @include breakpoint(md){ 
         
        display: inline-flex;
      justify-content: space-between;
      vertical-align: middle;
      
      align-items: center;
     }
     @include breakpoint(lg){ min-height: 190px;  }
     .text {
       @include breakpoint(mlg){ max-width: 70%; }
       @include breakpoint(lg){ max-width: 65%; }
      @include breakpoint(md) { max-width: 55%; }
       @include breakpoint(sm){ padding-bottom: 30px; }
       @include breakpoint(xs){ padding-bottom: 20px; }
     }
 	.logos {
    @include breakpoint(xs){  display: inline-flex; }
  	@include breakpoint(sm){  width: 100%; text-align: center;	display: inline-flex;justify-content: center; }
    @include breakpoint(md){  width: auto; text-align: left;  display: block; }
    @include breakpoint(lg){  width: auto; text-align: center;  display: inline-flex;justify-content: center; }
 		img {
      @include breakpoint(sm){ height: 50px; }
      @include breakpoint(xs){ height: 40px; }

    }
    div {
 			 @include breakpoint(lg){padding-left: 20px !important;}
       
       &:last-child {
          @include breakpoint(xs){padding-left: 20px;}
          @include breakpoint(sm){padding-left: 20px;}
          @include breakpoint(md){padding-left: 0;}
       }
 		}
 	}
  p{
        font-family: roboto, sans-serif;
         @include breakpoint(sm) {
                font-size: 14px !important;
                line-height: 20px !important;
                margin-top: 10px;
         }
          @include breakpoint(xs) {
             font-size: 13px !important;
              line-height: 18px !important;
         }
  }
 
  
     
      @include breakpoint(xxs) {
         
    }
}

.footer-inner {
    background:#001641;
     text-align: center;
    height: 120px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items:center;
     @include breakpoint(xxs) {
          padding:0 20px;
    }
}