.forum {

    .forum-title {

        font-family:'Acto-SemiBoldItalic';
        color:#592B8C;
            @include breakpoint(md){ 
                font-size: 30px;
                line-height: 38px;
                
            }
             @include breakpoint(sm){  font-size: 24px;line-height: 35px; }
             @include breakpoint(xs){  font-size: 24px;line-height: 35px; }
    }

    .forum-desc {
        color: #797D82;
        @include breakpoint(md){ 
                font-size: 18px;
                line-height: 25px;
                margin-top: 20px;
            }
    }

    .fan-list {
        text-align: center;
         @include breakpoint(md){  padding: 30px 0 0; }
          @include breakpoint(xs){  padding: 30px 0 0; }
    }
    .fan-position {
        padding:5px 0;
         @include breakpoint(md){font-size: 16px;line-height: 23px;}
    }
    .fan-title {
        font-family: roboto, sans-serif;
        font-weight: 700;
        font-style: normal;
        @include breakpoint(md){ padding-top: 20px; font-size: 20px;line-height: 25px;}
        @include breakpoint(sm){ padding-top: 15px; }
        @include breakpoint(xs){ padding-top: 15px; }
    }

    .fan-desc {
        color: #797D82;
        font-family: roboto, sans-serif;
        font-weight: 400;
        font-style: italic;
          @include breakpoint(md){ 
                font-size: 16px;
                line-height: 23px;
               
          }
    }
}