.top-header {
   
    height: auto;
    display: flex;

    @include breakpoint(md){ 
    	height: 133px;
    	
    }
     @include breakpoint(sm){ 
     	background: #141414; 
     }

       
}
 .top-logo {
     	display: none;
     	img {
     		@include breakpoint(md){max-height: 60px;width: 139px;}
     	}
     	@include breakpoint(md){display: block; }
     } 

 .header {

   .button {
   		 @include breakpoint(md){position: relative;top: 0; }
   	 @include breakpoint(sm){
	    position: absolute;
	    top: 8px;
	    right: 15px;
	    z-index: 99999;
	}

	    @include breakpoint(xs){
	    	    background: #031541;
    		text-align: center;
	    }
	}
 
    @include breakpoint(md){ 
        padding:0 50px;
         display: flex;
	    justify-content: space-between;
	    vertical-align: middle;
	    height: 100px;
	    align-items: center;
     }
 }



form#searchform {
    position: relative;
    width: 100%;
}
.search-box {
    float: right;
   // margin-top: -35px;
  //  padding-right: 38px;
    display:none;
    @include breakpoint(xs){ 
     	display:block;
     }
     @include breakpoint(sm){ 
     	display:block;
     }
     @include breakpoint(md){ 
     	display:block;
     }

    input[type="text"] {
    	    color: #000;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		   // font-family: 'Rajdhani', sans-serif;
		   // font-weight: 700;
		    letter-spacing: -1px;
		    width: 100%;
		    display: inline-block;
		   // text-transform: uppercase;
		    height: 55px;
		    line-height: 49px;
		    font-size: 15px;
		    padding-left: 10px;
		    padding-right: 74px;
		    //border: 1px solid #fed33d;
		    background: #fff;
		    border-radius:5px;
		    border:none;
		    outline:none;
    }
	  #searchsubmit {
	    font-family: "webfont";
	    font-style: normal;
	    font-weight: normal;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    //color: #00549c;
	    font-size: 17px;
	    float: right;
	    border: none;
	    margin: 0;
	    line-height: 36px;
	    width: 40px;
	    position: absolute;
	    right: 10px;
	    
	    height: 40px;
	    background: $theme_color;
	    display: inline-block;
	    /* box-shadow: inset 0 0 30px #D85119; */
	    /* text-transform: uppercase; */
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    top: 7px; 
	    border-radius: 5px;
    	color: #fff;
	  //float: left;
	}

}

 

#search-form { display: none; }
