#nav-container {
  display: none;
   @include breakpoint(md){ display: block; }
  #responsive_current_menu_item {display: none;}
  ul { margin: 0;padding: 0; }
   li {
    display: inline-block;
    margin: 0;

     @include breakpoint(lg){  padding: 0 15px; }
     @include breakpoint(md){  padding: 0 10px; }
    a {
       font-family: roboto, sans-serif;
       font-size: 16px;
       line-height: 19px;
       color: #001641;
    }
   }
}