/*
#slider-panel .panel-content {
    padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 72vh;
     @include breakpoint(md){
        height: 62vh;
      }
       @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }

}

*/
#slider-panel {
  .panel-content {
    padding:0;
  }
}
.title {
  position: absolute;
  
 // left: 77%;

   text-align: center;
   background: rgba(89, 43, 140, 0.85);
    height: 400px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
   
    @include breakpoint(xlg){
       left: 77%;
       height: 400px;
        width: 700px;
    }
      @include breakpoint(mlg){
       left: 75%;
       height: 400px;
        width: 650px;
    }
  @include breakpoint(lg){
       left: 70%;
       height: 400px;
       width: 600px;

    }
     @include breakpoint(md){
       left: 70%;top: 50%;
       height: 400px;
       width: 600px;    justify-content: space-evenly;  transform: translate(-50%, -50%);
    }
     @include breakpoint(sm){
       left: 0;
      height: 350px;
      width: 80%;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      justify-content: space-evenly;
    }
     @include breakpoint(xs){
       left: 0;
      height: 100%;
      width: 100%;
      bottom: 20px;
      right: 0;top:0;
      margin: 0 auto;
      border-radius:0;
      justify-content: space-around;
    }
    .banner-title {
      font-family:'Acto-SemiBoldItalic';
       @include breakpoint(xlg){
          font-size: 38px;
          line-height: 38px;
        }
         @include breakpoint(mlg){
          font-size: 34px;
          line-height: 34px;
        }
         @include breakpoint(md){
          font-size: 30px;
          line-height: 30px;
        }
          @include breakpoint(sm){
          font-size: 30px;
          line-height: 30px;
        }
          @include breakpoint(xs){
             font-size: 34px;
    line-height: 37px;
    max-width: 262px;
        }
    }
    .bolt-banner {
      padding:0 20px;
      display: inline-flex;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
        @include breakpoint(xs){ padding: 0 10px; }
         @include breakpoint(xxs){ padding: 0;display: none; } 
    }
    .banner-text {
      display: flex;
    
    p{ 
      font-size:16px; line-height: 19px; 
       @include breakpoint(xs){  font-size:14px; line-height: 19px; margin: 0;    padding: 0 6px;}

    } 
     strong {
        font-family:'Acto-Bold';
         @include breakpoint(mlg){
          font-size: 72px;
          line-height: 86px;
        }
         @include breakpoint(lg){
          font-size: 65px;
          line-height: 80px;
        }
         @include breakpoint(md){
          font-size: 60px;
          line-height: 75px;
          padding: 25px 0;
        }
         @include breakpoint(sm){
          font-size: 35px;
          line-height: 50px;
         // padding: 25px 0;
        }
         @include breakpoint(xs){
            font-size: 49px;
    line-height: 55px;
        }
     }
    }
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
  

}
header {
  position: relative;
   background: url('../images/home-banner.png') #031541 no-repeat top center scroll;
   background-size: cover;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
   @include breakpoint(xlg){
        height: 70vh;
      }
 @include breakpoint(md){
        height: 65vh;
      }
  @include breakpoint(sm){
        height: 40vh;

      }
  @include breakpoint(xs){
      height: 27vh;
      background: url('../images/mobile-banner640.png')  no-repeat top center scroll;background-size: cover;
    }
       @include breakpoint(xxs){
        height: 57vh;
         background: url('../images/mobile-banner.png') #031541 no-repeat top center scroll;
         background-size:cover;
      }
}

header video {
  position: absolute;
  top: 50%; 
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
/*  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;*/
}

.terms {
  display: flex;
  ul { padding:0; margin: 0;    width: 100%;
    li { 

         font-family: 'Acto-SemiBoldItalic';
         @include breakpoint(xlg){ margin: 0 24px;}
       @include breakpoint(sm){ float:left;  margin: 0 15px;font-size: 20px; }
        @include breakpoint(xs){ margin-bottom: 5px;    font-size: 17px;}
        span{
              position: relative;
              left: -7px;
        }
    }
  }
 }
 .bottom-text {
      padding: 0 25px;
          padding: 0 25px;
    font-size: 11px;
    line-height: 13px;
    }