.sponsors{
    h1{
        color:#592B8C;
        font-size:30px;
        line-height: 38px;
        text-align: center;
        display: inline-block;    width: 100%;
     @include breakpoint(xs){  font-size: 24px;line-height: 35px; }
     
    
    }
    p{
        font-size:18px;
        line-height: 25px;
        color:#797D82;
        text-align: center;
    }
    .spon_logos{
        margin-top: 50px;
    }
    .item{
        @include breakpoint(xs){text-align: center;min-height: 80px; }
         @include breakpoint(sm){
            min-height: 85px; margin-bottom: 10px;
         }
          @include breakpoint(md){
            min-height: 80px; margin-bottom: 30px;
         }
    }
}