.what_we_offer {
	h1 {
		text-align: center;
		@include breakpoint(xs){ 
			font-size: 27px;    line-height: 35px;
		}
		@include breakpoint(sm){ 
			line-height: 30px;
	    	font-size: 38px;
		}
		@include breakpoint(lg){ 
			line-height: 38px;
	    	font-size: 38px;
	    	margin-bottom: 30px;
	    }
	}
	p {
		    font-family: roboto, sans-serif;
		font-size: 30px;line-height: 51px;
		font-weight: 400;
		text-align: center;
		font-style: normal;
		margin-top: 15px;
		 @include breakpoint(md){ 
	        font-size: 20px;
    		line-height: 28px;
    		margin-bottom: 0;
		    margin-top: 15px;
		    padding-bottom: 30px;
    	}
    	 @include breakpoint(sm){ 
	        font-size: 18px;
    		line-height: 30px;
    		margin: 0;
    		padding-bottom: 20px;
    	}
		 @include breakpoint(xs){ 
	        font-size: 15px;
    		line-height: 21px;
    		padding-bottom: 20px;
    	}
	}
	.border {
	    width: 50%;
	    margin: auto;
	    border-top: 1px solid;
	}
 .services {
 	       display: inline-block;
    		width: 100%;
 	.background {
		position: relative;
		
			&:last-child {

				a { display: none; }
 				
 			}
		

		@include breakpoint(xlg){ min-height: 600px; }
		@include breakpoint(mlg){ min-height: 550px; }
		@include breakpoint(lg){ min-height: 500px; }
		 @include breakpoint(sm){min-height: 400px; }
		 @include breakpoint(md){min-height: 350px; }
		 @include breakpoint(xs){min-height: 400px; }
		/*&:before {
			content: '';
			background:url('../images/overlay.png');
			position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		}*/
 	}
 	.ser-content { text-align: center;position: absolute; bottom: 105px;color:#fff; 
 		 	@include breakpoint(sm){ padding: 0 25px;   top: 150px;    right: 0;
    left: 0; }
 		  	@include breakpoint(xs){bottom: 60px;  padding: 0 15px;left: 0;right: 0;}
 		  	@include breakpoint(md){  top: 100px;padding: 0 35px; }
 		    @include breakpoint(lg){  top: 200px;padding: 0 32px; }
 		   @include breakpoint(mlg){  top: 250px;padding: 0 45px; }

 		   .blue-btn {
 		   		  @include breakpoint(md){
 		   		  	    font-size: 18px;
    					line-height: 22px;
    					padding: 11px 13px;
 		   		  }
 		   		   @include breakpoint(lg){
 		   		  	   font-size: 20px;
				      line-height: 24px;
				      border-radius:5px;
				      padding:13px 15px;
 		   		  } 
 		   }
 	}
 	.button {
 		a { color: #fff; }
 		padding-top:25px;
 		img { 
 			@include breakpoint(xs){max-height: 35px;width: 35px; }
 			@include breakpoint(sm){max-height: 35px;width: 47px; }
 			 @include breakpoint(md){max-height: 40px;width: 47px;}
 			@include breakpoint(lg){max-height: 100%; width: 48px; }

 		 }
 	}
 	.serv-desc {
 		color: #fff;
 		    @include breakpoint(md){ 
	    	 font-size: 16px;
	         line-height: 23px;
	         
	    }
 	}
 	 margin-bottom: -5px;
 
 	 @include breakpoint(md){padding-top: 20px; }
 	.serv-name {
 		font-family:'Acto-SemiBoldItalic';
	    
	    color: #fff;
	     @include breakpoint(lg){ 
	    	font-size: 30px;
			line-height: 38px;
	        margin-bottom: 15px;
	    }
	    @include breakpoint(md){ 
	    	font-size: 25px;
			line-height: 30px;
	        margin-bottom: 15px;
	    }
	     @include breakpoint(sm){ 
	    	 font-size: 21px;
	         line-height: 35px;
	         
	    }
	     @include breakpoint(xs){ 
	        font-size: 17px;
    		line-height: 23px;
    		 
    	}
    	 @include breakpoint(xxs){ 
	        font-size: 24px;
	     
	        margin: 12px 0;
    		line-height: 35px;   
    	}
 	}
 }
	 
}

#what-we-offer-panel .panel-content {
	padding-bottom:0;
}