.mob-menu-logo-holder > .headertext span,.mobmenu input.mob-menu-search-field{font-family:"Roboto";font-size:20px;font-weight:inherit;font-style:normal;letter-spacing:normal;text-transform:none;}.left-menu-icon-text{font-family:"Roboto";color:#333;font-size:inherit;font-weight:inherit;font-style:normal;line-height:1.5em;letter-spacing:normal;text-transform:none;}#mobmenuleft .mob-expand-submenu,#mobmenuleft > .widgettitle,#mobmenuleft li a,#mobmenuleft li a:visited,#mobmenuleft .mobmenu-content h2,#mobmenuleft .mobmenu-content h3,.mobmenu-left-panel .mobmenu-display-name{font-family:"Roboto";font-size:17px;font-weight:inherit;font-style:normal;line-height:1em;letter-spacing:normal;text-transform:none;}.right-menu-icon-text{font-family:"Roboto";font-size:inherit;font-weight:inherit;font-style:normal;line-height:1.5em;letter-spacing:normal;text-transform:none;}#mobmenuright li a,#mobmenuright li a:visited,#mobmenuright .mobmenu-content h2,#mobmenuright .mobmenu-content h3,.mobmenu-left-panel .mobmenu-display-name{font-family:"Dosis";font-size:inherit;font-weight:inherit;font-style:normal;line-height:1.5em;letter-spacing:normal;text-transform:none;}.mob-menu-logo-holder > .headertext span,.mobmenu input.mob-menu-search-field{font-family:"Roboto";font-size:20px;font-weight:inherit;font-style:normal;letter-spacing:normal;text-transform:none;}.left-menu-icon-text{font-family:"Roboto";color:#333;font-size:inherit;font-weight:inherit;font-style:normal;line-height:1.5em;letter-spacing:normal;text-transform:none;}#mobmenuleft .mob-expand-submenu,#mobmenuleft > .widgettitle,#mobmenuleft li a,#mobmenuleft li a:visited,#mobmenuleft .mobmenu-content h2,#mobmenuleft .mobmenu-content h3,.mobmenu-left-panel .mobmenu-display-name{font-family:"Roboto";font-size:17px;font-weight:inherit;font-style:normal;line-height:1em;letter-spacing:normal;text-transform:none;}.right-menu-icon-text{font-family:"Roboto";font-size:inherit;font-weight:inherit;font-style:normal;line-height:1.5em;letter-spacing:normal;text-transform:none;}#mobmenuright li a,#mobmenuright li a:visited,#mobmenuright .mobmenu-content h2,#mobmenuright .mobmenu-content h3,.mobmenu-left-panel .mobmenu-display-name{font-family:"Dosis";font-size:inherit;font-weight:inherit;font-style:normal;line-height:1.5em;letter-spacing:normal;text-transform:none;}
@media screen and ( min-width: 782px ){
		body.admin-bar .mobmenu, body.admin-bar .mobmenu-panel {
			top: 32px!important;
		}
				.mobmenu-search-holder {
				top: 102px!important;
		}
}

@media screen and ( max-width: 782px ){
	body.admin-bar .mobmenu, body.admin-bar .mobmenu-panel {
		top: 46px!important;
	}

	body.admin-bar .mob-menu-header-banner {
		top: 0px!important;
	}
			.mobmenu-search-holder {
			top: 116px!important;
		}
		.mob-menu-slideout .mobmenu-search-holder {
			top: 70px!important;
		}
	}

@media screen and ( max-width: 479px ) {
	.mob-menu-overlay .mobmenu-content {
		padding-top: 5%;
	}
}

@media screen and ( max-width: 782px ) {
	.mob-menu-overlay .mobmenu-content {
		padding-top: 10%;
	}
}

@media screen and ( min-width: 782px ) {
	#mobmenu-footer li:hover {
		background-color: ;
	}
	#mobmenu-footer li:hover i {
		color: ;
	}
}

@media only screen and (min-width:992px){
	.mob_menu, .mobmenu-panel, .mobmenu, .mobmenu-cart-panel, .mobmenu-footer-menu-holder, .mobmenu-right-panel, .mobmenu-left-panel  {
		display: none!important;
	}
}

@media only screen and (max-width:991px) {

			
	.mobmenur-container i {
		color: #222;
	}
	.mobmenul-container i {
		color: #001641;
	}
	.mobmenul-container img {
		max-height:  70px;
		float: left;
	}
	.mobmenur-container img {
		max-height:  70px;
		float: right;
	}
	.mob-expand-submenu i {
		font-size: 30px;
	}
	#mobmenuleft li a , #mobmenuleft li a:visited, .mobmenu-content h2, .mobmenu-content h3, .show-nav-left .mob-menu-copyright, .show-nav-left .mob-expand-submenu i {
		color: #ffffff;

	}
	.mob-cancel-button {
		font-size: 30px!important;
	}

	/* 3rd Level Left Menu Items Background color on Hover*/
	.mobmenu-content #mobmenuleft .sub-menu  .sub-menu li a:hover {
		color: #ccc;
	}
	/* 3rd Level Left Menu Items Background color on Hover*/
	.mobmenu-content #mobmenuleft .sub-menu .sub-menu li:hover {
		background-color: #666;
	}
	.mobmenu-content #mobmenuleft li:hover, .mobmenu-content #mobmenuright li:hover  {
		background-color: #666;
	}
	.mobmenu-content #mobmenuright li:hover  {
		background-color: #8dacba ;
	}
	/* 3rd Level Right Menu Items Background color on Hover*/
	.mobmenu-content #mobmenuright .sub-menu .sub-menu li:hover {
		background-color: #666;
	}
	/* 3rd Level Right Menu Items Background color on Hover*/
	.mobmenu-content #mobmenuright .sub-menu  .sub-menu li a:hover {
		color: #ccc;
	}

		.mobmenu-content #mobmenuleft .sub-menu {
		background-color: #3a3a3a ;
		margin: 0;
		color: #fff ;
		width: 100%;
		position: initial;
	}
	.mob-menu-left-bg-holder {
				opacity: 1;
		background-attachment: fixed ;
		background-position: center top ;
		-webkit-background-size:  cover;
		-moz-background-size: cover;
		background-size: cover;
	}
	.mob-menu-right-bg-holder { 
				opacity: 1;
		background-attachment: fixed ;
		background-position: center top ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size:  cover;
	}
		.mobmenu-content #mobmenuleft .sub-menu a {
		color: #fff ;
	}
	.mobmenu-content #mobmenuright .sub-menu  a {
		color: #fff ;
	}
	.mobmenu-content #mobmenuright .sub-menu .sub-menu {
		background-color: inherit;
	}
	.mobmenu-content #mobmenuright .sub-menu {
		background-color: #3a3a3a ;
		margin: 0;
		color: #fff ;
		position: initial;
		width: 100%;
	}
	#mobmenuleft li:hover a, #mobmenuleft li:hover i {
		color: #444;
	}
	#mobmenuright li a , #mobmenuright li a:visited, .show-nav-right .mob-menu-copyright, .show-nav-right .mob-expand-submenu i {
		color: #fff ;
	}
	#mobmenuright li a:hover {
		color: #444 ;
	}
	.mobmenul-container {
		top: 10px;
		margin-left: 5px;
		margin-top: 0px;
		height: 70px;
		float: left;
	}
	.mobmenur-container {
		top: 10px;
		margin-right: 5px;
		margin-top: 0px;
	}
		.mob-menu-logo-holder {
		padding-top:  10px;
		margin-top:   0px;
		text-align:   center;
		margin-left:  0;
		margin-right: 0;
		height:       70px;
			}
	.mob-menu-header-holder {
		width:  100% ;
		background-color: #f7f7f7 ;
		height: 70px ;
		position:fixed;
	}
	body {
		padding-top: 70px;
	}
		.mobmenul-container, .mobmenur-container{
		position: absolute; 
	}
	.mobmenu-left-panel {
		background-color:#001641;;
		width:  90%;  
	}
	.mobmenu-right-panel {
		background-color:#38404c;		width:  270px; 
	}
	.show-nav-left .mobmenu-overlay, .show-nav-right .mobmenu-overlay, .show-mob-menu-search .mobmenu-overlay  {
		background: rgba(0, 0, 0, 0.83);
	}
	.show-nav-left .mob-menu-header-holder, .show-nav-right .mob-menu-header-holder{
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
	}	
	.mob-menu-slideout-top .mobmenu-overlay, .show-nav-right.mob-menu-slideout .mobmenur-container {
		display:none!important;
	}
	.mob-menu-slideout.show-nav-left .mobmenu-push-wrap, .mob-menu-slideout.show-nav-left .mob-menu-header-holder {
		-webkit-transform: translateX(90%);
		-moz-transform: translateX(90%);
		-ms-transform: translateX(90%);
		-o-transform: translateX(90%);
		transform: translateX(90%);
	}
	.mob-menu-slideout.show-nav-right .mobmenu-push-wrap, .mob-menu-slideout.show-nav-right .mob-menu-header-holder {
		-webkit-transform: translateX(-270px);
		-moz-transform: translateX(-270px);
		-ms-transform: translateX(-270px);
		-o-transform: translateX(-270px);
		transform: translateX(-270px);
	}
	.mob-menu-slideout-top .mobmenu-panel {
		width:  100%;
		height: 100%;
		z-index: 999999;
		position: fixed;
		left: 0px;
		top: 0px;
		max-height: 100%;
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	.mob-menu-slideout-top.show-nav-left .show-panel, .mob-menu-slideout-top.show-nav-right .show-panel  {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
	.mob-menu-slideout-over.show-nav-left .mobmenu-left-panel {
		overflow: hidden;
	}

	/* Hides everything pushed outside of it */
	.mob-menu-slideout .mobmenu-panel, .mob-menu-slideout-over .mobmenu-panel, .mob-menu-slideout .mobmenu-cart-panel, .mob-menu-slideout-over .mobmenu-cart-panel {
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 300000;
		overflow-y: auto;   
		overflow-x: hidden;
		opacity: 1;
	}
	/*End of Mobmenu Slide Over */
	.mobmenu .headertext { 
		color: #222 ;
	}
	.headertext span {
		position: initial;
		line-height: 70px;
	}
	.mobmenu-search-holder {
		top: 116px;
	}
	/*Premium options  */
	
	/* Mobile Menu Frontend CSS Style*/
	html, body {
		overflow-x: hidden;
		-webkit-overflow-scrolling: auto; 
		overflow-y: scroll; 
	}
	.mobmenu-left-panel li a, .leftmbottom, .leftmtop{
		padding-left: 0%;
		padding-right: 0%;
	}
	.mobmenu-content li > .sub-menu li {
		padding-left: calc(0*1%);
	}

	.mobmenu-right-panel li, .rightmbottom, .rightmtop{
		padding-left: 0%;
		padding-right: 0%;
	}
	.mobmenul-container i {
		line-height: 35px;
		font-size: 35px;
		float: left;
	}
	.left-menu-icon-text {
		float: left;
		line-height: 35px;
		color: #222;
	}
	.mobmenu-left-panel .mobmenu-display-name {
		color: #ffffff;
	}
	.right-menu-icon-text {
		float: right;
		line-height: 30px;
		color: #222;
	}
	.mobmenur-container i {
		line-height: 30px;
		font-size: 30px;
		float: right;
	}
	.nav, .main-navigation, .genesis-nav-menu, #main-header, #et-top-navigation, .site-header, .site-branding, .ast-mobile-menu-buttons, .storefront-handheld-footer-bar, .hide {
		display: none!important;
	}
	
	.mob-standard-logo {
		display: inline-block;
		height:40px!important;	}
	.mob-retina-logo {
		height:40px!important;	}
	.mobmenu-content #mobmenuleft > li > a:hover {
		background-color: #666;
	}

	.mobmenu-content #mobmenuright > li > a:hover {
		background-color: #8dacba;
	}
	.mob-blocks-user-profile {
		background-color: ;
	}
	.mob-blocks-user-profile .mobmenu-display-name {
		color: ;
	}
	.mobmenu-left-panel .mob-cancel-button {
		color: #fff;
	}
	.mobmenu-right-panel .mob-cancel-button {
		color: #fff;
	}	
	
}
