@import url("https://use.typekit.net/psl5fyy.css");@import url("https://use.typekit.net/wis3gfl.css");/* line 1, ../sass/partials/_nav.scss */

#nav-container {
	display: none;
}

/* line 4, ../sass/partials/_nav.scss */

#nav-container #responsive_current_menu_item {
	display: none;
}

/* line 5, ../sass/partials/_nav.scss */

#nav-container ul {
	margin: 0;
	padding: 0;
}

/* line 6, ../sass/partials/_nav.scss */

#nav-container li {
	display: inline-block;
	margin: 0;
}

/* line 12, ../sass/partials/_nav.scss */

#nav-container li a {
	font-family: roboto, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #001641;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/* line 16, ../sass/partials/_header.scss */

.top-logo {
	display: none;
}

/* line 53, ../sass/partials/_header.scss */

form#searchform {
	position: relative;
	width: 100%;
}

/* line 57, ../sass/partials/_header.scss */

.search-box {
	float: right;
	display: none;
}

/* line 72, ../sass/partials/_header.scss */

.search-box input[type="text"] {
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -1px;
	width: 100%;
	display: inline-block;
	height: 55px;
	line-height: 49px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 74px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	outline: none;
}

/* line 93, ../sass/partials/_header.scss */

.search-box #searchsubmit {
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 17px;
	float: right;
	border: none;
	margin: 0;
	line-height: 36px;
	width: 40px;
	position: absolute;
	right: 10px;
	height: 40px;
	background: #e4002a;
	display: inline-block; /* box-shadow: inset 0 0 30px #D85119; */ /* text-transform: uppercase; */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	top: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

/* line 127, ../sass/partials/_header.scss */

#search-form {
	display: none;
}

/* line 2, ../sass/partials/_common-styles.scss */

.center {
	text-align: center;
}

/* line 8, ../sass/partials/_common-styles.scss */

li {
	margin-bottom: 10px;
}

/* line 15, ../sass/partials/_common-styles.scss */

.panel-light h1 a {
	color: #00549c;
}

/* line 35, ../sass/partials/_common-styles.scss */

.home-panel {
	position: relative;
}

/* line 38, ../sass/partials/_common-styles.scss */

.panel-content {
	position: relative;
}

/* line 53, ../sass/partials/_common-styles.scss */

.ad-banners {
	padding: 30px 0;
}

/* line 54, ../sass/partials/_common-styles.scss */

.ad-banners .arrow {
	padding-top: 5px;
}

/* line 75, ../sass/partials/_common-styles.scss */

.ad-banners img {
	position: relative;
}

/* line 81, ../sass/partials/_common-styles.scss */

.panel-light .fa-chevron-down {
	color: #000;
	background: #fff;
}

/* line 86, ../sass/partials/_common-styles.scss */

#content {
	background: #eee;
	vertical-align: middle;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* line 105, ../sass/partials/_common-styles.scss */

#content .container,
#content-wrap .container {
	text-align: center;
}

/* line 109, ../sass/partials/_common-styles.scss */

#content .container .thanks-title,
#content-wrap .container .thanks-title {
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* line 118, ../sass/partials/_common-styles.scss */

#content .container .thanks-message,
#content-wrap .container .thanks-message {
	color: #797D82;
}

/* line 126, ../sass/partials/_common-styles.scss */

.news-archive img {
	float: left;
	margin: 0 15px 15px 0;
	height: auto;
}

/* line 132, ../sass/partials/_common-styles.scss */

.pagination1 a:first-child {
	font-weight: bold;
	float: left;
}

/* line 136, ../sass/partials/_common-styles.scss */

.pagination1 a {
	font-weight: bold;
	float: right;
}

/* line 140, ../sass/partials/_common-styles.scss */

.post-content p {
	margin: 0 0 15px;
	letter-spacing: 0px;
	color: #46595B;
	font-size: 14px;
	line-height: 23px;
	font-family: 'Gotham-Book-Regular';
}

/* line 149, ../sass/partials/_common-styles.scss */

.post-content strong {
	color: #2B9DA4;
	font-size: 14px;
	text-shadow: none;
	letter-spacing: 0px;
}

/* line 157, ../sass/partials/_common-styles.scss */

#main-content h1,
#hero h1,
#content-wrap h1 {
	text-transform: none;
	margin: 12px 15px 15px 0;
}

/* line 166, ../sass/partials/_common-styles.scss */

.page-title {
	border-bottom: 2px solid #eee;
	margin-left: 15px !important;
}

/* line 170, ../sass/partials/_common-styles.scss */

.navigation.row {
	padding-bottom: 15px;
}

/* line 175, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news {
	padding-top: 15px;
}

/* line 190, ../sass/partials/_common-styles.scss */

.wp-pagenavi span.current {
	color: #e4002a !important;
}

/* line 193, ../sass/partials/_common-styles.scss */

.col-1 {
	padding-top: 23px;
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}

/* line 205, ../sass/partials/_common-styles.scss */

.banner-bg {
	background-repeat: no-repeat;
	height: 760px;
	width: 100%;
}

/* line 211, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	margin: 25px 0px 15px 0;
	text-align: right;
}

/* line 212, ../sass/partials/_common-styles.scss */

.breadcrumb-list a {
	color: #0f235d;
	font-size: 12px;
	font-weight: 500;
}

/* line 217, ../sass/partials/_common-styles.scss */

.breadcrumb-list .breadcrumb-current {
	font-weight: bold;
	font-size: 12px;
}

/* line 232, ../sass/partials/_common-styles.scss */

.page-template-about .news-box h4 {
	font-family: 'serpntbi';
	color: #0f235d;
	font-size: 20px;
	padding: 15px 0 7px 0;
	font-weight: 100;
	text-transform: uppercase;
}

/* line 239, ../sass/partials/_common-styles.scss */

.page-template-about .news-box h4:hover {
	color: #e4002a;
}

/* line 244, ../sass/partials/_common-styles.scss */

.pagination {
	display: inline-block;
	padding-bottom: 15px;
	width: 100%;
	padding-top: 10px;
	background: url("../images/page-divider.jpg") no-repeat;
}

/* line 250, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi {
	padding: 8px 0;
}

/* line 253, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a,
.pagination .wp-pagenavi span {
	border-right: 1px solid #BFBFBF !important;
	border: none;
	color: #000;
	font-weight: 600;
	font-size: 12px;
	padding: 0 6px;
}

/* line 260, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a:hover,
.pagination .wp-pagenavi span:hover {
	color: #0f235d;
}

/* line 266, ../sass/partials/_common-styles.scss */

#banner-panel .ad-banners {
	padding: 0px;
}

/* line 272, ../sass/partials/_common-styles.scss */

.more-link a {
	color: #0f235d;
	font-weight: bold;
	text-transform: uppercase;
}

/* line 277, ../sass/partials/_common-styles.scss */

.more-link {
	padding: 4px 0 10px;
}

/* line 280, ../sass/partials/_common-styles.scss */

.rel-article-content {
	color: #000;
	font-size: 13px;
	line-height: 19px;
	font-family: 'Open Sans',sans-serif;
}

/* line 287, ../sass/partials/_common-styles.scss */

.social-media h1 {
	color: #fff;
	text-align: center;
}

/* line 292, ../sass/partials/_common-styles.scss */

.social-media .big-title {
	color: #e4002a;
	text-align: center;
	font-size: 40px;
	padding-top: 5px;
}

/* line 300, ../sass/partials/_common-styles.scss */

.social-media .sfeed {
	padding-top: 32px;
	display: inline-block;
}

/* line 304, ../sass/partials/_common-styles.scss */

.social-media .juicer-feed .j-paginate {
	display: none;
}

/* line 309, ../sass/partials/_common-styles.scss */

.gform_description {
	font-size: 36px;
	line-height: 43px;
	text-align: center;
}

/* line 314, ../sass/partials/_common-styles.scss */

.gform_fields {
	font-family: 'overpass-light';
}

/* line 317, ../sass/partials/_common-styles.scss */

.gform_fields textarea {
	border: none;
}

/* line 320, ../sass/partials/_common-styles.scss */

.gform_fields input[type="text"] {
	border: none;
	border-bottom: 1px solid #222222;
	background: transparent;
	color: #000000;
	font-size: 20px !important;
	line-height: 24px;
}

/* line 327, ../sass/partials/_common-styles.scss */

.gform_fields input[type="text"]:focus {
	color: #000000;
	outline: none;
	font-weight: bold;
	border-bottom: 2px solid #222222;
}

/* line 333, ../sass/partials/_common-styles.scss */

.gform_fields input[type="text"]:placeholder {
	color: #000000 !important;
}

/* line 339, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox {
	list-style: none;
	padding: 20px;
	width: 70% !important;
	margin: auto !important;
	text-align: center;
}

/* line 346, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li {
	display: inline;
}

/* line 349, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label {
	display: inline-block;
	background-color: #fff;
	color: #222222;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	white-space: nowrap;
	margin: 3px 0px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	max-width: 100% !important;
}

/* line 366, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox label {
	padding: 8px 12px !important;
	cursor: pointer;
	font-size: 15px !important;
	line-height: 18px !important;
}

/* line 373, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li label::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	padding: 2px 6px 2px 2px;
	content: "\f067";
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}

/* line 387, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"]:checked + label::before {
	content: "\f00c";
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}

/* line 393, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"]:checked + label {
	background-color: #AD0A40;
	color: #fff;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

/* line 400, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"] {
	display: absolute;
}

/* line 403, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

/* line 407, ../sass/partials/_common-styles.scss */

ul.gfield_checkbox li input[type="checkbox"]:focus + label { /*border: 2px solid #e9a1ff;*/
}

/* line 414, ../sass/partials/_common-styles.scss */

.bgimg-1 { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#066dab+0,8abbd7+69,c5deea+100 */
	background: #031642; /* Old browsers */
	background: -webkit-linear-gradient(315deg, #031642 0%, #031642 56%, #58278e 100%);
	background: -moz-linear-gradient(315deg, #031642 0%, #031642 56%, #58278e 100%);
	background: -o-linear-gradient(315deg, #031642 0%, #031642 56%, #58278e 100%);
	background: linear-gradient(135deg, #031642 0%, #031642 56%, #58278e 100%);
	background: -webkit-linear-gradient(-45deg, #031642 0%, #031642 56%, #58278e 100%);
	height: 100vh;
}

/* line 427, ../sass/partials/_common-styles.scss */

.bolt {
	background: url("../images/bolt_1.png") no-repeat;
	background-repeat: no-repeat;
}

/* line 446, ../sass/partials/_common-styles.scss */

.content { /*   
     top: 50%;
     left: calc(100% - 600px);
      @include breakpoint(xlg) {left: calc(100% - 30%);}
     transform: translate(-50%, -50%);*/
	margin: auto;
	color: #fff;
}

/* line 475, ../sass/partials/_common-styles.scss */

.content a {
	color: #fff;
	margin-top: 20px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* line 485, ../sass/partials/_common-styles.scss */

.content span {
	font-family: 'Acto-SemiBoldItalic';
	color: #fff;
}

/* line 505, ../sass/partials/_common-styles.scss */

.content p {
	font-family: roboto, sans-serif;
	margin-top: 25px;
	font-weight: 400;
	color: #C7C9C8;
	font-style: normal;
}

/* line 528, ../sass/partials/_common-styles.scss */

.contact {
	font-family: roboto, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* line 540, ../sass/partials/_common-styles.scss */

.fsPreviousButton,
.fsSubmitButton,
.fsNextButton {
	background: #089ED4 !important;
	font-family: 'Acto-Bold' !important;
}

/* line 547, ../sass/partials/_common-styles.scss */

.blue-btn {
	background: #089ED4 !important;
	border: none;
	font-size: 20px;
	line-height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 13px 15px;
	font-family: 'Acto-Bold';
	color: #fff;
}

/* line 557, ../sass/partials/_common-styles.scss */

.blue-btn:focus {
	outline: none;
}

/* line 584, ../sass/partials/_common-styles.scss */

#contact-panel .thanks-title,
#contact-panel .thanks-message {
	display: none;
}

/* line 586, ../sass/partials/_common-styles.scss */

#contact-panel .panel-content {
	padding: 0;
}

/* line 587, ../sass/partials/_common-styles.scss */

.contact-form {
	padding: 50px 0;
}

/* line 591, ../sass/partials/_common-styles.scss */

.contact-form .text {
	color: #fff;
}

/* line 595, ../sass/partials/_common-styles.scss */

.contact-form .text .contact-title {
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* line 612, ../sass/partials/_common-styles.scss */

.contact-form .text .contact-address,
.contact-form .text .contact-address a {
	margin-top: 25px;
}

/* line 619, ../sass/partials/_common-styles.scss */

.contact-form .text .email img {
	max-height: 20px;
	width: 24px;
}

/* line 622, ../sass/partials/_common-styles.scss */

.contact-form .text .phone img {
	max-height: 30px;
	width: 24px;
}

/* line 625, ../sass/partials/_common-styles.scss */

.contact-form .text .email,
.contact-form .text .phone {
	padding: 10px 0;
	color: #fff;
}

/* line 630, ../sass/partials/_common-styles.scss */

.contact-form .text .email a,
.contact-form .text .phone a {
	color: #fff;
}

/* line 642, ../sass/partials/_common-styles.scss */

.form-title {
	color: #fff;
	font-family: 'Acto-SemiBoldItalic';
}

/* line 659, ../sass/partials/_common-styles.scss */

.fsRequiredMarker,
.fsBody .fsSupporting {
	color: #fff !important;
}

/* line 660, ../sass/partials/_common-styles.scss */

.fsBody .fsLabel,
.fsBody label {
	color: #fff !important;
	font-family: roboto, sans-serif;
}

/* line 669, ../sass/partials/_common-styles.scss */

.fsSectionHeader {
	display: none;
}

/* line 671, ../sass/partials/_common-styles.scss */

.contact-map {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

/* line 679, ../sass/partials/_common-styles.scss */

.resp-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}

/* line 692, ../sass/partials/_common-styles.scss */

.fsForm select:not([multiple="multiple"]) {
	background: #fff url("../images/select.png") no-repeat !important;
	background-position: right !important;
	height: 49px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none !important;
}

/* line 699, ../sass/partials/_common-styles.scss */

.fsRowBody input[type="text"],
.fsRowBody input[type="email"],
.fsRowBody input[type="number"],
.fsRowBody input[type="tel"],
.fsForm select {
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}

/* line 704, ../sass/partials/_common-styles.scss */

.fsRowBody input[type="text"],
.fsRowBody input[type="email"],
.fsRowBody input[type="number"],
.fsRowBody input[type="tel"],
.fsForm select,
.fsForm textarea {
	font-size: 16px !important;
	line-height: 20px !important;
}

/* line 707, ../sass/partials/_common-styles.scss */

label.fsOptionLabel {
	background-color: transparent !important;
	border: none !important;
}

/* line 708, ../sass/partials/_common-styles.scss */

.fsForm .fsCell {
	padding: 0 !important;
}

/* line 711, ../sass/partials/_common-styles.scss */

.fsSubmitButton {
	float: left !important;
}

/* line 713, ../sass/partials/_common-styles.scss */

.fsBody p a {
	color: #fff;
	text-decoration: underline;
}

/* line 714, ../sass/partials/_common-styles.scss */

.fsBody {
	padding: 0 !important;
}

/* line 716, ../sass/partials/_common-styles.scss */

.fsRowBody input[type="checkbox"]:checked:before {
	border-color: #2b9ed3 !important;
	background-color: #2b9ed3 !important;
}

/* line 721, ../sass/partials/_common-styles.scss */

.fsRowBody input[type="radio"]:before,
.fsRowBody input[type="radio"]:checked:before,
.fsRowBody input[type="checkbox"]:before,
.fsRowBody input[type="checkbox"]:checked:before {
	width: 100px !important;
	height: 100px !important;
}

/* line 730, ../sass/partials/_common-styles.scss */

.mobmenu-left-panel .mob-cancel-button {
	color: #592B8C !important;
}

/* line 733, ../sass/partials/_common-styles.scss */

.mobmenu-left-panel .mobmenu-left-bt,
.mobmenu-right-panel .mobmenu-right-bt {
	right: 12px !important;
	top: 16px !important;
}

/* line 741, ../sass/partials/_common-styles.scss */

.fsBody .fsFieldRow {
	padding-bottom: 10px !important;
}

/* line 745, ../sass/partials/_common-styles.scss */

div#fsSection79296332 {
	display: none;
}

/* line 749, ../sass/partials/_common-styles.scss */

.content-body {
	background-color: #eee;
}

/* line 3, ../sass/partials/_forum.scss */

.forum .forum-title {
	font-family: 'Acto-SemiBoldItalic';
	color: #592B8C;
}

/* line 16, ../sass/partials/_forum.scss */

.forum .forum-desc {
	color: #797D82;
}

/* line 25, ../sass/partials/_forum.scss */

.forum .fan-list {
	text-align: center;
}

/* line 30, ../sass/partials/_forum.scss */

.forum .fan-position {
	padding: 5px 0;
}

/* line 34, ../sass/partials/_forum.scss */

.forum .fan-title {
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* line 43, ../sass/partials/_forum.scss */

.forum .fan-desc {
	color: #797D82;
	font-family: roboto, sans-serif;
	font-weight: 400;
	font-style: italic;
}

/*
#slider-panel .panel-content {
    padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 72vh;
     @include breakpoint(md){
        height: 62vh;
      }
       @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }

}

*/

/* line 27, ../sass/partials/_slider.scss */

#slider-panel .panel-content {
	padding: 0;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	position: absolute;
	text-align: center;
	background: rgba(89, 43, 140, 0.85);
	height: 400px;
	width: 700px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* line 88, ../sass/partials/_slider.scss */

.title .banner-title {
	font-family: 'Acto-SemiBoldItalic';
}

/* line 112, ../sass/partials/_slider.scss */

.title .bolt-banner {
	padding: 0 20px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 121, ../sass/partials/_slider.scss */

.title .banner-text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/* line 124, ../sass/partials/_slider.scss */

.title .banner-text p {
	font-size: 16px;
	line-height: 19px;
}

/* line 129, ../sass/partials/_slider.scss */

.title .banner-text strong {
	font-family: 'Acto-Bold';
}

/* line 155, ../sass/partials/_slider.scss */

.title h1 {
	color: #fff;
	text-transform: uppercase;
}

/* line 162, ../sass/partials/_slider.scss */

header {
	position: relative;
	background: url("../images/home-banner.png") #031541 no-repeat top center scroll;
	-webkit-background-size: cover cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
}

/* line 190, ../sass/partials/_slider.scss */

header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* line 206, ../sass/partials/_slider.scss */

header .container {
	position: relative;
	z-index: 2;
}

/* line 211, ../sass/partials/_slider.scss */

header .overlay { /*  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;*/
}

/* line 222, ../sass/partials/_slider.scss */

.terms {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/* line 224, ../sass/partials/_slider.scss */

.terms ul {
	padding: 0;
	margin: 0;
	width: 100%;
}

/* line 225, ../sass/partials/_slider.scss */

.terms ul li {
	font-family: 'Acto-SemiBoldItalic';
}

/* line 231, ../sass/partials/_slider.scss */

.terms ul li span {
	position: relative;
	left: -7px;
}

/* line 238, ../sass/partials/_slider.scss */

.bottom-text {
	padding: 0 25px;
	padding: 0 25px;
	font-size: 11px;
	line-height: 13px;
}

/* line 1, ../sass/partials/_about.scss */

.about {
	display: flow-root;
}

/* line 9, ../sass/partials/_about.scss */

.about .left {
	background: #001641;
	font-size: 72px;
	line-height: 85px;
	color: #fff;
	width: 100%;
	font-family: 'Acto-Book';
	position: relative;
}

/* line 23, ../sass/partials/_about.scss */

.about .left .localbroker {
	max-width: 250px;
	margin-top: 20px;
}

/* line 33, ../sass/partials/_about.scss */

.about .left .lcontent strong {
	font-family: 'Acto-BoldItalic';
}

/* line 40, ../sass/partials/_about.scss */

.about .right {
	background: #C7C9C8;
	float: left;
	width: 100%;
}

/* line 49, ../sass/partials/_about.scss */

.about .right .rcontent:last-child {
	margin-bottom: 0;
}

/* line 56, ../sass/partials/_about.scss */

.about .right .about_title {
	color: #592B8C;
	font-size: 30px;
	line-height: 38px;
	font-family: 'Acto-SemiBoldItalic';
}

/* line 65, ../sass/partials/_about.scss */

.about .right p {
	font-size: 18px;
	line-height: 25px;
}

/* line 73, ../sass/partials/_about.scss */

#about-panel .panel-content {
	padding-top: 0;
	padding-bottom: 0;
}

/* line 1, ../sass/partials/_footer.scss */

.footer {
	color: #797D82;
}

/* line 50, ../sass/partials/_footer.scss */

.footer p {
	font-family: roboto, sans-serif;
}

/* line 70, ../sass/partials/_footer.scss */

.footer-inner {
	background: #001641;
	text-align: center;
	height: 120px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 2, ../sass/partials/_single.scss */

.post-content img {
	max-width: 100%;
}

/* line 12, ../sass/partials/_single.scss */

.post-content .featured-image {
	margin-bottom: 20px;
}

/* line 21, ../sass/partials/_single.scss */

.news-title {
	margin-bottom: 10px;
}

/* line 34, ../sass/partials/_single.scss */

.buttons-box-inner li a {
	display: block;
	-webkit-font-smoothing: antialiased;
	color: #FFFFFF;
	width: 100%;
	text-transform: uppercase;
	font-family: 'serpntbi';
}

/* line 48, ../sass/partials/_single.scss */

.buttons-box-inner li a > span {
	float: left;
	width: 85%;
}

/* line 52, ../sass/partials/_single.scss */

.buttons-box-inner li:hover a {
	color: #fff;
}

/* line 55, ../sass/partials/_single.scss */

.buttons-box-inner li:hover {
	background: #c20023;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	border: solid 1px #dddddd;
	height: 55px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	background: #e4002a;
}

/* line 81, ../sass/partials/_single.scss */

.buttons-box-inner li .fa-chevron-circle-right:before {
	background: rgba(0, 0, 0, 0.23);
	padding: 7px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-size: 21px;
}

/* line 88, ../sass/partials/_single.scss */

.buttons-box-inner {
	margin-top: 12px;
	padding: 0;
	margin: 0;
	background: #fff;
	display: block;
}

/* line 96, ../sass/partials/_single.scss */

.post-meta p {
	margin-bottom: 0;
}

/* line 99, ../sass/partials/_single.scss */

.post-meta .tags {
	font-size: 12px;
	text-transform: uppercase;
}

/* line 102, ../sass/partials/_single.scss */

.post-meta .tags a {
	background: #012C54;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 2px;
	padding: 0 3px;
	font-size: 12px;
}

/* line 109, ../sass/partials/_single.scss */

.post-meta .tags a:hover {
	text-decoration: none;
	background: #00549c;
}

/* Player Profile, Gallery - single */

/* line 131, ../sass/partials/_single.scss */

.player-img-container,
.cover-img-container {
	float: left;
	margin-right: 10px;
}

/* line 141, ../sass/partials/_single.scss */

.players-single p.intro,
.gallery-single p.intro {
	font-size: 16px;
	font-weight: 400;
}

/* line 145, ../sass/partials/_single.scss */

.players-single td,
.gallery-single td {
	padding: 0 5px;
}

/* line 151, ../sass/partials/_single.scss */

.is-landing .custom-header-img,
.is-landing .custom-header-img-mobile {
	margin-bottom: 20px;
}

/* line 155, ../sass/partials/_single.scss */

#weblizar_twitter-3 .widget-title {
	display: none;
}

/* line 2, ../sass/partials/_sponsors.scss */

.sponsors h1 {
	color: #592B8C;
	font-size: 30px;
	line-height: 38px;
	text-align: center;
	display: inline-block;
	width: 100%;
}

/* line 12, ../sass/partials/_sponsors.scss */

.sponsors p {
	font-size: 18px;
	line-height: 25px;
	color: #797D82;
	text-align: center;
}

/* line 18, ../sass/partials/_sponsors.scss */

.sponsors .spon_logos {
	margin-top: 50px;
}

/* line 2, ../sass/partials/_what_we_offer.scss */

.what_we_offer h1 {
	text-align: center;
}

/* line 17, ../sass/partials/_what_we_offer.scss */

.what_we_offer p {
	font-family: roboto, sans-serif;
	font-size: 30px;
	line-height: 51px;
	font-weight: 400;
	text-align: center;
	font-style: normal;
	margin-top: 15px;
}

/* line 43, ../sass/partials/_what_we_offer.scss */

.what_we_offer .border {
	width: 50%;
	margin: auto;
	border-top: 1px solid;
}

/* line 48, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services {
	display: inline-block;
	width: 100%;
	margin-bottom: -5px;
}

/* line 51, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .background {
	position: relative; /*&:before {
  	content: '';
  	background:url('../images/overlay.png');
  	position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  }*/
}

/* line 56, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .background:last-child a {
	display: none;
}

/* line 77, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .ser-content {
	text-align: center;
	position: absolute;
	bottom: 105px;
	color: #fff;
}

/* line 99, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .button {
	padding-top: 25px;
}

/* line 100, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .button a {
	color: #fff;
}

/* line 110, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .serv-desc {
	color: #fff;
}

/* line 121, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .serv-name {
	font-family: 'Acto-SemiBoldItalic';
	color: #fff;
}

/* line 156, ../sass/partials/_what_we_offer.scss */

#what-we-offer-panel .panel-content {
	padding-bottom: 0;
}

@font-face {
	font-family: 'Acto-SemiBoldItalic';
	src: url("../fonts/Acto/Acto-SemiBoldItalic.otf") format("opentype");
}

@font-face {
	font-family: 'Acto-BoldItalic';
	src: url("../fonts/Acto/Acto-BoldItalic.otf") format("opentype");
}

@font-face {
	font-family: 'Acto-Book';
	src: url("../fonts/Acto/Acto-Book.otf") format("opentype");
}

@font-face {
	font-family: 'Acto-Bold';
	src: url("../fonts/Acto/Acto-Bold.otf") format("opentype");
}

@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/* line 85, ../sass/app.scss */

body {
	font-family: roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* line 126, ../sass/app.scss */

#nav-container > .container {
	position: relative;
	padding: 0;
}

/* line 133, ../sass/app.scss */

#logo {
	position: absolute;
	top: 0;
	background: url("../images/sabres-logo.png") 0 0 no-repeat;
}

/* line 158, ../sass/app.scss */

#logo a {
	display: block;
	height: 119px;
}

/* line 171, ../sass/app.scss */

#main-content span.news-date {
	display: block;
	float: right;
	padding-left: 10px;
	color: #fff;
}

/* line 184, ../sass/app.scss */

.has-club-logos #content {
	padding-top: 0;
}

/* line 188, ../sass/app.scss */

#sidebar {
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
}

/* line 194, ../sass/app.scss */

.has-club-logos #sidebar {
	padding-top: 20px;
}

/* line 199, ../sass/app.scss */

.fsp-adv-social-media {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* line 206, ../sass/app.scss */

.fsp-adv-social-media li {
	display: inline-block;
	margin-left: 5px;
}

/* line 209, ../sass/app.scss */

.fsp-adv-social-media li.share-title {
	display: none;
}

/* line 211, ../sass/app.scss */

.single .fsp-adv-social-media li.share-title {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: -4px;
}

/* line 218, ../sass/app.scss */

.fsp-adv-social-media li a {
	font-size: 30px;
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #DDAA08 !important;
}

/* line 222, ../sass/app.scss */

.fsp-adv-social-media li a:hover {
	color: #00549c !important;
	text-decoration: none;
}

/* line 230, ../sass/app.scss */

.lower-section {
	margin-top: 20px;
}

/* line 234, ../sass/app.scss */

.title-404 {
	display: none;
}

/*# sourceMappingURL=app.css.map */

@media screen and (-webkit-min-device-pixel-ratio: 0) {

@font-face {
	font-family: 'webfont';
	src: url("../fonts/webfont.svg?1531711#webfont") format("svg");
}

}

@media (max-width: 767px), (min-width: 768px) {

/* line 211, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	display: none;
}

}

@media (min-width: 768px) {

/* line 1, ../sass/partials/_header.scss */

.top-header {
	background: #141414;
}

/* line 26, ../sass/partials/_header.scss */

.header .button {
	position: absolute;
	top: 8px;
	right: 15px;
	z-index: 99999;
}

/* line 57, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 21, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 25px;
}

/* line 38, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 45px 0;
}

/* line 57, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 33%;
	float: left;
	padding: 5px;
}

/* line 86, ../sass/partials/_common-styles.scss */

#content {
	min-height: 500px;
}

/* line 109, ../sass/partials/_common-styles.scss */

#content .container .thanks-title,
#content-wrap .container .thanks-title {
	font-size: 35px;
	line-height: 35px;
	padding: 25px 0;
}

/* line 118, ../sass/partials/_common-styles.scss */

#content .container .thanks-message,
#content-wrap .container .thanks-message {
	font-size: 16px;
	line-height: 23px;
}

/* line 427, ../sass/partials/_common-styles.scss */

.bolt {
	background: url("../images/bolt1.png") no-repeat;
	-webkit-background-size: 86% 86%;
	-moz-background-size: 86%;
	-o-background-size: 86%;
	background-size: 86%;
	height: 50%;
	vertical-align: middle;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/* line 439, ../sass/partials/_common-styles.scss */

.bolt img {
	display: block;
	margin: auto;
}

/* line 446, ../sass/partials/_common-styles.scss */

.content {
	max-width: 90%;
}

/* line 475, ../sass/partials/_common-styles.scss */

.content a {
	font-size: 17px;
	line-height: 24px;
}

/* line 485, ../sass/partials/_common-styles.scss */

.content span {
	font-size: 25px;
	line-height: 31px;
}

/* line 505, ../sass/partials/_common-styles.scss */

.content p {
	font-size: 17px;
	line-height: 24px;
}

/* line 540, ../sass/partials/_common-styles.scss */

.fsPreviousButton,
.fsSubmitButton,
.fsNextButton {
	font-size: 20px;
	line-height: 24px;
}

/* line 547, ../sass/partials/_common-styles.scss */

.blue-btn {
	font-size: 16px;
	line-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 8px 15px;
}

/* line 587, ../sass/partials/_common-styles.scss */

.contact-form {
	padding: 50px 0;
}

/* line 595, ../sass/partials/_common-styles.scss */

.contact-form .text .contact-title {
	font-size: 20px;
	line-height: 25px;
}

/* line 634, ../sass/partials/_common-styles.scss */

.contact-form .form {
	border: none;
}

/* line 642, ../sass/partials/_common-styles.scss */

.form-title {
	font-size: 34px;
	line-height: 34px;
}

/* line 699, ../sass/partials/_common-styles.scss */

.fsRowBody input[type="text"],
.fsRowBody input[type="email"],
.fsRowBody input[type="number"],
.fsRowBody input[type="tel"],
.fsForm select {
	height: 49px !important;
}

/* line 3, ../sass/partials/_forum.scss */

.forum .forum-title {
	font-size: 24px;
	line-height: 35px;
}

/* line 34, ../sass/partials/_forum.scss */

.forum .fan-title {
	padding-top: 15px;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	left: 0;
	height: 350px;
	width: 80%;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	-webkit-box-pack: space-evenly;
	-webkit-justify-content: space-evenly;
	-moz-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

/* line 88, ../sass/partials/_slider.scss */

.title .banner-title {
	font-size: 30px;
	line-height: 30px;
}

/* line 129, ../sass/partials/_slider.scss */

.title .banner-text strong {
	font-size: 35px;
	line-height: 50px;
}

/* line 162, ../sass/partials/_slider.scss */

header {
	height: 40vh;
}

/* line 225, ../sass/partials/_slider.scss */

.terms ul li {
	float: left;
	margin: 0 15px;
	font-size: 20px;
}

/* line 9, ../sass/partials/_about.scss */

.about .left {
	background: #001641 url("../images/about_bolt.png") no-repeat center;
	width: 100%;
	font-size: 60px;
	line-height: 70px;
}

/* line 27, ../sass/partials/_about.scss */

.about .left .lcontent {
	padding: 50px 50px;
	text-align: left;
}

/* line 40, ../sass/partials/_about.scss */

.about .right {
	padding: 35px 35px;
}

/* line 48, ../sass/partials/_about.scss */

.about .right .rcontent {
	margin-bottom: 20px;
}

/* line 56, ../sass/partials/_about.scss */

.about .right .about_title {
	margin-bottom: 10px;
}

/* line 1, ../sass/partials/_footer.scss */

.footer {
	padding: 35px 35px;
}

/* line 23, ../sass/partials/_footer.scss */

.footer .text {
	padding-bottom: 30px;
}

/* line 30, ../sass/partials/_footer.scss */

.footer .logos {
	width: 100%;
	text-align: center;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* line 35, ../sass/partials/_footer.scss */

.footer .logos img {
	height: 50px;
}

/* line 43, ../sass/partials/_footer.scss */

.footer .logos div:last-child {
	padding-left: 20px;
}

/* line 50, ../sass/partials/_footer.scss */

.footer p {
	font-size: 14px !important;
	line-height: 20px !important;
	margin-top: 10px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 17px;
	height: 66px;
	padding: 0px 10px;
}

/* line 117, ../sass/partials/_single.scss */

#content-wrap {
	min-height: 700px;
}

/* line 21, ../sass/partials/_sponsors.scss */

.sponsors .item {
	min-height: 85px;
	margin-bottom: 10px;
}

/* line 2, ../sass/partials/_what_we_offer.scss */

.what_we_offer h1 {
	line-height: 30px;
	font-size: 38px;
}

/* line 17, ../sass/partials/_what_we_offer.scss */

.what_we_offer p {
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	padding-bottom: 20px;
}

/* line 51, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .background {
	min-height: 400px;
}

/* line 77, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .ser-content {
	padding: 0 25px;
	top: 150px;
	right: 0;
	left: 0;
}

/* line 102, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .button img {
	max-height: 35px;
	width: 47px;
}

/* line 121, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .serv-name {
	font-size: 21px;
	line-height: 35px;
}

/* line 133, ../sass/app.scss */

#logo {
	width: 437px;
	left: -20px;
	z-index: 1000;
}

}

@media (min-width: 992px) {

/* line 1, ../sass/partials/_nav.scss */

#nav-container {
	display: block;
}

/* line 6, ../sass/partials/_nav.scss */

#nav-container li {
	padding: 0 10px;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: 133px;
}

/* line 18, ../sass/partials/_header.scss */

.top-logo img {
	max-height: 60px;
	width: 139px;
}

/* line 16, ../sass/partials/_header.scss */

.top-logo {
	display: block;
}

/* line 26, ../sass/partials/_header.scss */

.header .button {
	position: relative;
	top: 0;
}

/* line 24, ../sass/partials/_header.scss */

.header {
	padding: 0 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	vertical-align: middle;
	height: 100px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 57, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 21, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 33px;
}

/* line 38, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 50px 0;
}

/* line 86, ../sass/partials/_common-styles.scss */

#content {
	min-height: 500px;
}

/* line 109, ../sass/partials/_common-styles.scss */

#content .container .thanks-title,
#content-wrap .container .thanks-title {
	font-size: 38px;
	line-height: 38px;
}

/* line 118, ../sass/partials/_common-styles.scss */

#content .container .thanks-message,
#content-wrap .container .thanks-message {
	font-size: 18px;
	line-height: 35px;
}

/* line 176, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news li:nth-child(n) {
	margin-bottom: 1%;
	margin-right: 1%;
}

/* line 183, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news li {
	width: 24%;
}

/* line 211, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	display: block;
}

/* line 427, ../sass/partials/_common-styles.scss */

.bolt {
	background: url("../images/bolt_1.png") no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	height: 100%; /*width: 100%;*/
}

/* line 439, ../sass/partials/_common-styles.scss */

.bolt img {
	display: none;
}

/* line 446, ../sass/partials/_common-styles.scss */

.content {
	position: absolute;
	max-width: 90%;
}

/* line 475, ../sass/partials/_common-styles.scss */

.content a {
	font-size: 17px;
	line-height: 24px;
}

/* line 485, ../sass/partials/_common-styles.scss */

.content span {
	font-size: 25px;
	line-height: 31px;
}

/* line 505, ../sass/partials/_common-styles.scss */

.content p {
	font-size: 17px;
	line-height: 24px;
}

/* line 518, ../sass/partials/_common-styles.scss */

.into {
	position: relative;
	height: 100vh;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/* line 540, ../sass/partials/_common-styles.scss */

.fsPreviousButton,
.fsSubmitButton,
.fsNextButton {
	font-size: 20px !important;
	line-height: 24px !important;
	width: 300px;
}

/* line 547, ../sass/partials/_common-styles.scss */

.blue-btn {
	font-size: 20px;
	line-height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 13px 15px;
}

/* line 591, ../sass/partials/_common-styles.scss */

.contact-form .text {
	padding: 82px 1px 22px 50px;
}

/* line 595, ../sass/partials/_common-styles.scss */

.contact-form .text .contact-title {
	font-size: 20px;
	line-height: 25px;
}

/* line 612, ../sass/partials/_common-styles.scss */

.contact-form .text .contact-address,
.contact-form .text .contact-address a {
	font-size: 18px;
	line-height: 25px;
}

/* line 634, ../sass/partials/_common-styles.scss */

.contact-form .form {
	border-right: 2px solid #001641;
}

/* line 642, ../sass/partials/_common-styles.scss */

.form-title {
	font-size: 38px;
	line-height: 38px;
}

/* line 660, ../sass/partials/_common-styles.scss */

.fsBody .fsLabel,
.fsBody label {
	font-size: 18px !important;
	line-height: 25px !important;
}

/* line 671, ../sass/partials/_common-styles.scss */

.contact-map {
	padding-top: 80%;
	margin-top: 25px;
}

/* line 738, ../sass/partials/_common-styles.scss */

.fsBody .fsForm {
	padding: 10px 35px 10px 10px !important;
}

/* line 3, ../sass/partials/_forum.scss */

.forum .forum-title {
	font-size: 30px;
	line-height: 38px;
}

/* line 16, ../sass/partials/_forum.scss */

.forum .forum-desc {
	font-size: 18px;
	line-height: 25px;
	margin-top: 20px;
}

/* line 25, ../sass/partials/_forum.scss */

.forum .fan-list {
	padding: 30px 0 0;
}

/* line 30, ../sass/partials/_forum.scss */

.forum .fan-position {
	font-size: 16px;
	line-height: 23px;
}

/* line 34, ../sass/partials/_forum.scss */

.forum .fan-title {
	padding-top: 20px;
	font-size: 20px;
	line-height: 25px;
}

/* line 43, ../sass/partials/_forum.scss */

.forum .fan-desc {
	font-size: 16px;
	line-height: 23px;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	left: 70%;
	top: 50%;
	height: 400px;
	width: 600px;
	-webkit-box-pack: space-evenly;
	-webkit-justify-content: space-evenly;
	-moz-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* line 88, ../sass/partials/_slider.scss */

.title .banner-title {
	font-size: 30px;
	line-height: 30px;
}

/* line 129, ../sass/partials/_slider.scss */

.title .banner-text strong {
	font-size: 60px;
	line-height: 75px;
	padding: 25px 0;
}

/* line 162, ../sass/partials/_slider.scss */

header {
	height: 65vh;
}

/* line 1, ../sass/partials/_about.scss */

.about {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* line 9, ../sass/partials/_about.scss */

.about .left {
	width: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 27, ../sass/partials/_about.scss */

.about .left .lcontent {
	padding: 50px 50px;
}

/* line 40, ../sass/partials/_about.scss */

.about .right {
	width: 50%;
}

/* line 48, ../sass/partials/_about.scss */

.about .right .rcontent {
	margin-bottom: 30px;
}

/* line 56, ../sass/partials/_about.scss */

.about .right .about_title {
	margin-bottom: 15px;
}

/* line 1, ../sass/partials/_footer.scss */

.footer {
	padding: 35px 50px;
}

/* line 1, ../sass/partials/_footer.scss */

.footer {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 23, ../sass/partials/_footer.scss */

.footer .text {
	max-width: 55%;
}

/* line 30, ../sass/partials/_footer.scss */

.footer .logos {
	width: auto;
	text-align: left;
	display: block;
}

/* line 43, ../sass/partials/_footer.scss */

.footer .logos div:last-child {
	padding-left: 0;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 18px;
	height: 68px;
	padding: 10px;
}

/* line 21, ../sass/partials/_sponsors.scss */

.sponsors .item {
	min-height: 80px;
	margin-bottom: 30px;
}

/* line 17, ../sass/partials/_what_we_offer.scss */

.what_we_offer p {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 0;
	margin-top: 15px;
	padding-bottom: 30px;
}

/* line 51, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .background {
	min-height: 350px;
}

/* line 77, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .ser-content {
	top: 100px;
	padding: 0 35px;
}

/* line 85, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .ser-content .blue-btn {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 13px;
}

/* line 102, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .button img {
	max-height: 40px;
	width: 47px;
}

/* line 110, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .serv-desc {
	font-size: 16px;
	line-height: 23px;
}

/* line 48, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services {
	padding-top: 20px;
}

/* line 121, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .serv-name {
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 15px;
}

/* line 133, ../sass/app.scss */

#logo {
	width: 437px;
	left: -50px;
	z-index: 0;
}

}

@media only screen and (max-width: 992px) and (min-width: 200px) {

/* line 270, ../sass/partials/_common-styles.scss */

.headering-top {
	overflow: inherit;
}

}

@media (min-width: 1200px) {

/* line 6, ../sass/partials/_nav.scss */

#nav-container li {
	padding: 0 15px;
}

/* line 427, ../sass/partials/_common-styles.scss */

.bolt {
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

/* line 446, ../sass/partials/_common-styles.scss */

.content {
	max-width: 500px;
}

/* line 475, ../sass/partials/_common-styles.scss */

.content a {
	font-size: 20px;
	line-height: 28px;
}

/* line 485, ../sass/partials/_common-styles.scss */

.content span {
	font-size: 30px;
	line-height: 38px;
}

/* line 505, ../sass/partials/_common-styles.scss */

.content p {
	font-size: 20px;
	line-height: 28px;
}

/* line 671, ../sass/partials/_common-styles.scss */

.contact-map {
	padding-top: 100%;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	left: 70%;
	height: 400px;
	width: 600px;
}

/* line 129, ../sass/partials/_slider.scss */

.title .banner-text strong {
	font-size: 65px;
	line-height: 80px;
}

/* line 9, ../sass/partials/_about.scss */

.about .left {
	background: #001641 url("../images/about_bolt.png") no-repeat;
	width: 50%;
	background-position: top;
}

/* line 27, ../sass/partials/_about.scss */

.about .left .lcontent {
	padding: 150px 80px;
}

/* line 40, ../sass/partials/_about.scss */

.about .right {
	width: 50%;
	padding: 50px;
}

/* line 1, ../sass/partials/_footer.scss */

.footer {
	min-height: 190px;
}

/* line 23, ../sass/partials/_footer.scss */

.footer .text {
	max-width: 65%;
}

/* line 30, ../sass/partials/_footer.scss */

.footer .logos {
	width: auto;
	text-align: center;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* line 40, ../sass/partials/_footer.scss */

.footer .logos div {
	padding-left: 20px !important;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 18px;
	height: 75px;
	padding: 10px;
}

/* line 2, ../sass/partials/_what_we_offer.scss */

.what_we_offer h1 {
	line-height: 38px;
	font-size: 38px;
	margin-bottom: 30px;
}

/* line 51, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .background {
	min-height: 500px;
}

/* line 77, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .ser-content {
	top: 200px;
	padding: 0 32px;
}

/* line 85, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .ser-content .blue-btn {
	font-size: 20px;
	line-height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 13px 15px;
}

/* line 102, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .button img {
	max-height: 100%;
	width: 48px;
}

/* line 121, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .serv-name {
	font-size: 30px;
	line-height: 38px;
	margin-bottom: 15px;
}

/* line 133, ../sass/app.scss */

#logo {
	width: 437px;
	left: -40px;
	z-index: 0;
}

}

@media (min-width: 1500px) {

/* line 31, ../sass/partials/_slider.scss */

.title {
	left: 75%;
	height: 400px;
	width: 650px;
}

/* line 88, ../sass/partials/_slider.scss */

.title .banner-title {
	font-size: 34px;
	line-height: 34px;
}

/* line 129, ../sass/partials/_slider.scss */

.title .banner-text strong {
	font-size: 72px;
	line-height: 86px;
}

/* line 27, ../sass/partials/_about.scss */

.about .left .lcontent {
	padding: 120px 100px;
}

/* line 40, ../sass/partials/_about.scss */

.about .right {
	width: 50%;
	padding: 72px 72px;
}

/* line 23, ../sass/partials/_footer.scss */

.footer .text {
	max-width: 70%;
}

/* line 51, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .background {
	min-height: 550px;
}

/* line 77, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .ser-content {
	top: 250px;
	padding: 0 45px;
}

}

@media (min-width: 1858px) {

/* line 427, ../sass/partials/_common-styles.scss */

.bolt {
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

/* line 446, ../sass/partials/_common-styles.scss */

.content {
	max-width: 500px;
	top: 40%;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	left: 77%;
	height: 400px;
	width: 700px;
}

/* line 88, ../sass/partials/_slider.scss */

.title .banner-title {
	font-size: 38px;
	line-height: 38px;
}

/* line 162, ../sass/partials/_slider.scss */

header {
	height: 70vh;
}

/* line 225, ../sass/partials/_slider.scss */

.terms ul li {
	margin: 0 24px;
}

/* line 51, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .background {
	min-height: 600px;
}

}

@media (max-width: 767px) {

/* line 26, ../sass/partials/_header.scss */

.header .button {
	background: #031541;
	text-align: center;
}

/* line 57, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 21, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 20px;
}

/* line 38, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 15px 0 0;
	min-height: 150px;
}

/* line 57, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 33%;
	float: left;
	padding: 0;
}

/* line 86, ../sass/partials/_common-styles.scss */

#content {
	min-height: 300px;
}

/* line 109, ../sass/partials/_common-styles.scss */

#content .container .thanks-title,
#content-wrap .container .thanks-title {
	font-size: 35px;
	line-height: 35px;
	padding: 15px 0;
}

/* line 118, ../sass/partials/_common-styles.scss */

#content .container .thanks-message,
#content-wrap .container .thanks-message {
	font-size: 15px;
	line-height: 23px;
}

/* line 193, ../sass/partials/_common-styles.scss */

.col-1 {
	display: inline-block;
	padding-bottom: 25px;
	width: 100%;
}

/* line 414, ../sass/partials/_common-styles.scss */

.bgimg-1 {
	background: -webkit-linear-gradient(268deg, #031642 0%, #031642 56%, #58278e 100%);
	background: -moz-linear-gradient(268deg, #031642 0%, #031642 56%, #58278e 100%);
	background: -o-linear-gradient(268deg, #031642 0%, #031642 56%, #58278e 100%);
	background: linear-gradient(182deg, #031642 0%, #031642 56%, #58278e 100%);
	background: -webkit-linear-gradient(-90deg, #031642 0%, #031642 56%, #58278e 100%);
}

/* line 427, ../sass/partials/_common-styles.scss */

.bolt {
	background: url("../images/bolt1.png") no-repeat;
	-webkit-background-size: 50% 50%;
	-moz-background-size: 50%;
	-o-background-size: 50%;
	background-size: 50%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	background-position: top center;
	height: 50%;
}

/* line 439, ../sass/partials/_common-styles.scss */

.bolt img {
	display: block;
	max-width: 75%;
	margin: auto;
	padding: 65px 0 0;
}

/* line 446, ../sass/partials/_common-styles.scss */

.content {
	max-width: 90%;
}

/* line 475, ../sass/partials/_common-styles.scss */

.content a {
	font-size: 14px;
	line-height: 19px;
}

/* line 485, ../sass/partials/_common-styles.scss */

.content span {
	font-size: 20px;
	line-height: 25px;
}

/* line 505, ../sass/partials/_common-styles.scss */

.content p {
	font-size: 14px;
	line-height: 19px;
	margin-top: 15px;
}

/* line 532, ../sass/partials/_common-styles.scss */

.contact img {
	max-width: 15px;
}

/* line 540, ../sass/partials/_common-styles.scss */

.fsPreviousButton,
.fsSubmitButton,
.fsNextButton {
	font-size: 20px;
	line-height: 24px;
}

/* line 547, ../sass/partials/_common-styles.scss */

.blue-btn {
	font-size: 16px;
	line-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 8px 15px;
}

/* line 595, ../sass/partials/_common-styles.scss */

.contact-form .text .contact-title {
	font-size: 18px;
	line-height: 25px;
}

/* line 642, ../sass/partials/_common-styles.scss */

.form-title {
	font-size: 30px;
	line-height: 30px;
}

/* line 699, ../sass/partials/_common-styles.scss */

.fsRowBody input[type="text"],
.fsRowBody input[type="email"],
.fsRowBody input[type="number"],
.fsRowBody input[type="tel"],
.fsForm select {
	height: 35px !important;
}

/* line 726, ../sass/partials/_common-styles.scss */

#forum-panel .panel-content {
	padding-bottom: 20px;
}

/* line 3, ../sass/partials/_forum.scss */

.forum .forum-title {
	font-size: 24px;
	line-height: 35px;
}

/* line 25, ../sass/partials/_forum.scss */

.forum .fan-list {
	padding: 30px 0 0;
}

/* line 34, ../sass/partials/_forum.scss */

.forum .fan-title {
	padding-top: 15px;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	left: 0;
	height: 100%;
	width: 100%;
	bottom: 20px;
	right: 0;
	top: 0;
	margin: 0 auto;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

/* line 88, ../sass/partials/_slider.scss */

.title .banner-title {
	font-size: 34px;
	line-height: 37px;
	max-width: 262px;
}

/* line 112, ../sass/partials/_slider.scss */

.title .bolt-banner {
	padding: 0 10px;
}

/* line 124, ../sass/partials/_slider.scss */

.title .banner-text p {
	font-size: 14px;
	line-height: 19px;
	margin: 0;
	padding: 0 6px;
}

/* line 129, ../sass/partials/_slider.scss */

.title .banner-text strong {
	font-size: 49px;
	line-height: 55px;
}

/* line 162, ../sass/partials/_slider.scss */

header {
	height: 27vh;
	background: url("../images/mobile-banner640.png") no-repeat top center scroll;
	-webkit-background-size: cover cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* line 225, ../sass/partials/_slider.scss */

.terms ul li {
	margin-bottom: 5px;
	font-size: 17px;
}

/* line 1, ../sass/partials/_about.scss */

.about {
	display: inline-block;
}

/* line 9, ../sass/partials/_about.scss */

.about .left {
	width: 100%;
	font-size: 35px;
	line-height: 50px;
}

/* line 27, ../sass/partials/_about.scss */

.about .left .lcontent {
	padding: 35px 35px;
	text-align: left;
}

/* line 40, ../sass/partials/_about.scss */

.about .right {
	padding: 25px 25px;
}

/* line 56, ../sass/partials/_about.scss */

.about .right .about_title {
	font-size: 24px;
	line-height: 35px;
}

/* line 65, ../sass/partials/_about.scss */

.about .right p {
	font-size: 15px;
	line-height: 22px;
}

/* line 1, ../sass/partials/_footer.scss */

.footer {
	padding: 25px 25px;
}

/* line 23, ../sass/partials/_footer.scss */

.footer .text {
	padding-bottom: 20px;
}

/* line 30, ../sass/partials/_footer.scss */

.footer .logos {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

/* line 35, ../sass/partials/_footer.scss */

.footer .logos img {
	height: 40px;
}

/* line 43, ../sass/partials/_footer.scss */

.footer .logos div:last-child {
	padding-left: 20px;
}

/* line 50, ../sass/partials/_footer.scss */

.footer p {
	font-size: 13px !important;
	line-height: 18px !important;
}

/* line 12, ../sass/partials/_single.scss */

.post-content .featured-image {
	margin-top: 22px;
}

/* line 27, ../sass/partials/_single.scss */

.widget-wrapper img {
	border: none;
}

/* line 34, ../sass/partials/_single.scss */

.buttons-box-inner li a {
	text-align: left;
	font-size: 21px;
	margin-left: 13px;
}

/* line 131, ../sass/partials/_single.scss */

.player-img-container,
.cover-img-container {
	float: none;
	margin-right: 0;
	margin-bottom: 20px;
}

/* line 2, ../sass/partials/_sponsors.scss */

.sponsors h1 {
	font-size: 24px;
	line-height: 35px;
}

/* line 21, ../sass/partials/_sponsors.scss */

.sponsors .item {
	text-align: center;
	min-height: 80px;
}

/* line 2, ../sass/partials/_what_we_offer.scss */

.what_we_offer h1 {
	font-size: 27px;
	line-height: 35px;
}

/* line 17, ../sass/partials/_what_we_offer.scss */

.what_we_offer p {
	font-size: 15px;
	line-height: 21px;
	padding-bottom: 20px;
}

/* line 51, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .background {
	min-height: 400px;
}

/* line 77, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .ser-content {
	bottom: 60px;
	padding: 0 15px;
	left: 0;
	right: 0;
}

/* line 102, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .button img {
	max-height: 35px;
	width: 35px;
}

/* line 121, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .serv-name {
	font-size: 17px;
	line-height: 23px;
}

/* line 133, ../sass/app.scss */

#logo {
	width: 217px;
	left: -5px;
	-webkit-background-size: 220px 60px;
	-moz-background-size: 220px 60px;
	-o-background-size: 220px 60px;
	background-size: 220px 60px;
	z-index: 1000;
}

/* line 158, ../sass/app.scss */

#logo a {
	height: 60px;
}

/* line 199, ../sass/app.scss */

.fsp-adv-social-media {
	display: none;
}

}

@media (max-width: 650px) {

/* line 57, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0;
}

/* line 168, ../sass/app.scss */

#main-content {
	margin: 0;
}

/* line 178, ../sass/app.scss */

#content-wrap {
	margin: 0;
}

}

@media (max-width: 480px) {

/* line 427, ../sass/partials/_common-styles.scss */

.bolt {
	height: 45%;
}

/* line 446, ../sass/partials/_common-styles.scss */

.content {
	max-width: 100%;
}

/* line 505, ../sass/partials/_common-styles.scss */

.content p {
	font-size: 14px;
	line-height: 19px;
	margin-top: 5px;
}

/* line 112, ../sass/partials/_slider.scss */

.title .bolt-banner {
	padding: 0;
	display: none;
}

/* line 162, ../sass/partials/_slider.scss */

header {
	height: 57vh;
	background: url("../images/mobile-banner.png") #031541 no-repeat top center scroll;
	-webkit-background-size: cover cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* line 70, ../sass/partials/_footer.scss */

.footer-inner {
	padding: 0 20px;
}

/* line 121, ../sass/partials/_what_we_offer.scss */

.what_we_offer .services .serv-name {
	font-size: 24px;
	margin: 12px 0;
	line-height: 35px;
}

}

